* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 1.3;
}

h1,
h2 {
  font-family: "Candal", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Candal", sans-serif;
  font-size: 1.5rem;
}
h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}
h6 {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

p {
  margin: 16px 0;
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: rgb(245, 248, 223);
}

.size-medium {
  width: 30%;
  float: right;
  margin-right: 0;
}

figcaption {
  font-size: 0.5rem;
  text-align: center;
}

.wp-block-quote {
  float: right;
  margin-right: 0;
  text-align: right;
  color: rgb(52, 83, 120);
}

.wp-block-quote p {
  font-size: 1.2rem;
  font-weight: lighter;
}

.salt-cat-title {
  margin: 0px;
  color: #fff;
  font-size: 48px;
  padding-left: 17px;
}

.salt-bodycontainer {
  font-size: 0px;
  min-height: calc(100vh - 300px);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: minmax(auto, 25%);
  grid-auto-flow: column;
}
.salt-bodycontainer > * {
  font-size: 1rem;
}

.salt-maincontent {
  margin: auto;
  max-width: 800px;
}

.salt-nomargin,
.salt-fullwidth .salt-maincontent {
  margin: 0;
  max-width: 100%;
}

/* Header and navbar */
.salt-mainheader nav li:hover .sub-menu {
  max-height: 100vw;
}
.salt-mainheader nav .sub-menu {
  max-height: 0px;
  transition: max-height 0.4s;
  position: absolute;
  z-index: 99;
  background-color: #0c0824;
  display: block;
  margin-left: -23px;
  overflow: hidden;
  margin-top: 6px;
}
.salt-mainheader nav .sub-menu li {
  display: block;
  padding: 11px 23px;
}

.salt-sidebar {
  display: inline-block;
  vertical-align: top;
}

.salt-mainsearch {
  position: absolute;
  top: 19px;
  right: 19px;
}
.salt-mainsearch input {
  background: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #959595;
}

.salt-mainheader {
  background: linear-gradient(rgba(12, 8, 36, 0.8), rgba(12, 8, 36, 0.8)),
    url("resources/headerimage.jpg");
  background-size: cover;
  position: relative;
}
.salt-mainheader h1 {
  text-align: center;
  margin: 0px;
  padding: 7px;
}
.salt-mainheader h1 img {
  height: 120px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.salt-mainheader nav {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
  font-weight: 700;
  font-size: 18px;
  z-index: 2;
  position: relative;
}
.salt-altcolors .salt-mainheader nav {
  background-color: rgb(231, 61, 30);
}
.salt-mainheader nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 70px;
  display: flex;
  justify-content: space-between;
}
.salt-mainheader nav li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  padding: 6px 30px;
  text-transform: uppercase;
}
.salt-mainheader nav a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .salt-mainheader nav li:hover .sub-menu {
    max-height: 100vw;
  }
  .salt-mainheader nav .sub-menu {
    max-height: 0px;
    transition: max-height 0.4s;
    position: absolute;
    z-index: 99;
    background-color: #0c0824;
    display: block;
    margin-left: -23px;
    overflow: hidden;
    margin-top: 6px;
  }
  .salt-mainheader nav .sub-menu li {
    display: block;
    padding: 11px 23px;
  }
  
  .salt-sidebar {
    display: inline-block;
    vertical-align: top;
  }
  
  .salt-mainsearch {
    position: absolute;
    top: 19px;
    right: 19px;
  }
  .salt-mainsearch input {
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #959595;
  }
  
  .salt-mainheader {
    background: linear-gradient(rgba(12, 8, 36, 0.8), rgba(12, 8, 36, 0.8)),
      url("resources/headerimage.jpg");
    background-size: cover;
    position: relative;
  }
  .salt-mainheader h1 {
    text-align: center;
    margin: 0px;
    padding: 7px;
  }
  .salt-mainheader h1 img {
    height: 120px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .salt-mainheader nav {
    background-color: rgb(12, 8, 36);
    color: rgb(249, 249, 228);
    font-weight: 700;
    font-size: 18px;
    z-index: 2;
    position: relative;
  }
  .salt-altcolors .salt-mainheader nav {
    background-color: rgb(231, 61, 30);
  }
  .salt-mainheader nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 70px;
    display: flex;
    justify-content: space-between;
  }
  .salt-mainheader nav li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding: 6px 30px;
    text-transform: uppercase;
  }
  .salt-mainheader nav a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
  }
}

/* End header and navbar */

/* Footer */

@media only screen and (max-width: 950px) {
  .salt-mainfooter > * {
    display: block;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
}
.salt-footerhome img {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 40px;
  max-height: 200px;
  object-fit: contain;
}
.salt-contactblock {
  box-sizing: border-box;
  padding-top: 35px;
}
.salt-contactblock a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding-bottom: 7px;
}
.salt-contactblock a span {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
  padding-left: 5px;
}
.salt-contactblock h2 {
  padding: 0px;
  font-size: 24px;
  padding: 0px;
  margin-top: 28px;
  padding-bottom: 7px;
}
.salt-contactblock a img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.salt-socialblock img {
  height: 60px;
}
.salt-sociallinks {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  box-sizing: border-box;
  padding-right: 20px;
}

.salt-mainfooter {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
}
.salt-altcolors .salt-mainfooter {
  background-color: rgb(231, 61, 30);
}
.salt-mainfooter {
  min-height: 190px;
}
.salt-mainfooter > * {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 33%;
  vertical-align: top;
}

/*  End footer */

/* Podcast page stylings */

.saltPodcast {
  margin-top: 70px;
}

.saltPodcast p {
  margin-top: 50px;
}

.podcastLogos {
  width: max-content;
  margin: auto;
}

.podcastLogos .wp-block-group__inner-container {
  display: flex;
}

.podcastLogos .wp-block-image {
  margin: 20px !important;
}

.podcastLogos img {
  display: block;
  margin: auto;
}

.podcastLogos .is-resized > figcaption {
  text-align: center;
}
/* Styling for 'Get Involved' page */

.saltGetInvolved {
  width: 70%;
  margin: auto;
}

.saltGetInvolvedHeader {
  text-align: center;
  font-size: 3em;
}

div .wpforms-field-medium {
  max-width: 100% !important;
}

.wpforms-form button {
  background-color: rgb(231, 61, 30) !important;
  color: rgb(245, 248, 223) !important;
}

@media (min-width: 768px) {
  .saltGetInvolved {
    width: 570px;
    margin: auto;
  }
}

/* End of 'Get Involved' */

/* Styling for 'About' page*/

.saltAboutContainer .wp-block-image {
  margin-top: -109px;
}

.wp-image-102 {
  width: 65%;
  z-index: -1;
  position: relative;
  margin-left: -47px;
}

.saltAboutHeader {
  font-size: 2.2rem !important;
  text-align: right;
  color: rgb(12, 8, 36);
  position: relative;
  margin-top: 40px;
  margin-right: 23px;
  max-width: 94%;
}

.saltAboutParagraphs {
  margin: auto;
  max-width: 80%;
}

.saltPoliciesHeader {
  margin-left: 20px;
  margin-right: auto;
  max-width: 90%;
  font-size: 2.2rem;
}

.saltAboutPageSubHeading {
  background-color: rgb(52, 83, 120, 0.6);
  padding: 6px 68px;
  z-index: 1;
  position: relative;
  color: rgb(245, 248, 223);
}

.saltPolicies {
  margin-top: 55px;
}

.wp-block-image .alignright {
  margin-left: auto !important;
  margin-right: 10px !important;
  float: none !important;
}

.saltPolicies img {
  float: right;
  margin-left: 10px;
  max-width: 50%;
  height: auto;
  margin-top: -89px;
  max-height: 180px;
}

.saltPolicies li {
  padding: 10px 10px;
  margin: 0 40px 0 20px;
}

@media (min-width: 768px) {
  .wp-image-102 {
    width: 35%;
    z-index: -1;
    position: absolute;
    left: 30px;
    top: 173px;
  }

  .saltAboutHeader {
    font-size: 3em !important;
    margin-top: 34px;
    margin-right: 20px;
    margin-bottom: 64px;
    margin-left: auto;
    text-align: right;
    max-width: 95%;
  }

  .saltAboutContainer .wp-block-image {
    margin-top: 0;
  }

  .saltAboutParagraphs {
    margin-right: 0px;
    margin-left: 220px;
  }

  .saltAboutParagraphs .wp-block-group__inner-container {
    display: inline;
  }

  .saltPoliciesHeader {
    font-size: 3rem;
    margin-left: 0px;
  }

  .wp-block-image .alignright {
    float: right !important;
  }

  .saltPolicies img {
    margin-top: -83px;
  }
}

@media (min-width: 992px) {
  .saltAboutParagraphs .wp-block-group__inner-container {
    display: inline;
  }

  .saltPoliciesHeader {
    color: rgb(12, 8, 36);
    font-size: 3em;
    margin: 20px 20px 20px 50px;
  }

  .saltAboutPageSubHeading {
    background-color: rgb(52, 83, 120, 0.6);
    padding: 6px 68px;
    z-index: 1;
    position: relative;
  }

  .saltPolicies .alignright {
    float: right;
    margin: -70px 0 10px 10px;
    z-index: 0;
  }

  .saltPolicies img {
    margin-top: -12px;
  }

  .saltPolicies li {
    padding: 10px 10px;
    margin: 0 40px 0 20px;
  }
}

/* End of 'About' */

/* Homepage */

.home-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
}

/* Branch Directory */

.salt-directory {
  width: 50%;
  margin: 60px auto;
}

.salt-directory h3 {
  border-bottom: black solid 1px;
}

.salt-directory .socialMediaLogos {
  display: flex;
  float: left;
}

.salt-directory .socialMediaLogos .wp-block-group__inner-container {
  display: inline-flex;
  margin-bottom: -20px;
}

.salt-directory .socialMediaLogos .wp-block-image {
  margin-right: 25px;
}

.salt-directory.wp-block-image .aligncenter {
  margin-right: 0;
}

/* End of Branch Directory */

/* Donate page stylings */

.saltDonate {
  margin: 40px 20px;
}

.saltDonateButton {
  text-align: center;
}

.saltDonate p {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .saltDonate {
    margin: 60px auto;
    width: 50%;
  }

  .saltDonate h2 {
    margin: 40px 0;
  }

  .saltDonateButton {
    margin: 40px;
  }
}

@media only screen and (max-width: 950px) {
  .salt-mainfooter > * {
    display: block;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
}

.salt-infoblock {
  background: linear-gradient(
      190deg,
      rgba(12, 8, 36, 0.6),
      rgba(231, 61, 30, 1)
    ),
    url("resources/headerimage.jpg");
  background-size: cover;
  background-position-y: center;
  color: rgb(249, 249, 228);
}
.salt-infoblock h2 {
  margin: 0px 0 0 20%;
  padding: 18px;
  color: rgb(249, 249, 228);
  font-size: 2em;
  letter-spacing: 1px;
}
.salt-infoblock p {
  margin: 0px;
  padding: 20px;
  padding-top: 150px;
  width: 80%;
  font-size: 1.4em;
  line-height: 1.3em;
}
.salt-homeblock {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
  padding: 20px;
  text-align: center;
}
.salt-homeblock h2 {
  margin: 0px;
  border-bottom: 1px solid rgb(249, 249, 228);
  text-align: left;
}
.salt-upcomingevents ul {
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.salt-event {
  list-style-type: none;
  height: 120px;
  overflow: hidden;
  margin: 20px 0px;
}
.salt-event a {
  text-decoration: none;
  color: inherit;
}
.salt-event h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  padding-bottom: 8px;
}
.salt-event p {
  margin: 0px;
  padding: 0px;
  font-weight: 1;
}
.salt-event img {
  height: 100%;
  width: 360px;
  float: right;
  object-fit: cover;
}
.salt-eventdate {
  color: rgb(231, 61, 30);
  padding-bottom: 7px;
}
.salt-moreevents {
  text-decoration: none;
  padding: 10px;
  color: rgb(231, 61, 30);
  font-weight: 700;
  font-size: 24px;
}
.salt-international {
  background: rgb(246, 219, 196);
  background: linear-gradient(
    144deg,
    rgba(246, 219, 196, 1) 0%,
    rgba(12, 8, 36, 1) 100%
  );
}
.salt-international h2 {
  text-align: right;
}

.salt-international .size-medium {
  width: auto;
  float: none;
}
.salt-newsblock {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
  margin: 0px;
  padding: 10px;
  min-height: calc(100vh - 300px);
  list-style-type: none;
}

/* End homepage */

/* Sidebar */

.salt-sidebar {
  background-color: rgb(245, 248, 223);
}
.salt-articlepreview {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 20px;
  text-align: right;
  border-top: solid 3px rgb(12, 8, 36);
  padding-top: 10px;
}
.salt-articlebody {
  padding-bottom: 10px;
}
.salt-articlepreview h3 {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 24px;
  color: rgb(231, 61, 30);
  text-transform: uppercase;
}
.salt-articlepreview:first-child {
  border-top: none;
  padding-top: 0px;
}
.salt-articlepreview p {
  text-align: justify;
  width: 90%;
  margin: auto;
  padding-top: 11px;
  line-height: 21px;
}
.salt-articlepreview img {
  width: 100%;
  height: auto;
}
.salt-readmore {
  display: inline-block;
  color: rgb(245, 248, 223);
  background-color: rgb(12, 8, 36);
  padding: 6px 18px;
  font-weight: 1;
}
.salt-readmore::after {
  content: ">>";
}

/* End sidebar */

/* Post */

.salt-defaultarticle {
  background-color: rgb(245, 248, 223);
  padding-right: 10px;
}
.salt-defaultarticle .salt-articleheader {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.salt-defaultarticle .salt-articleheader img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: block;
  object-fit: cover;
  max-height: calc(100vh - 300px);
}
.salt-defaultarticle .salt-articleheader h1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(12, 8, 36, 0.5);
  color: rgb(249, 249, 228);
  margin: 0px;
  padding: 10px 40px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 30;
  text-transform: uppercase;
}
.salt-articledetails {
  color: rgb(231, 61, 30);
}
.salt-articledetails {
  padding-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
.salt-articledetails > *::after {
  content: " // ";
}
.salt-articledetails > *:last-child::after {
  content: "";
}
.salt-defaultarticle .salt-author {
  padding-top: 15px;
  border-bottom: 1px solid rgb(12, 8, 36);
  font-weight: 1;
}
.salt-defaultarticle .salt-articlemain {
  margin: 0 40px;
  color: rgb(12, 8, 36);
}
.salt-articlemain p {
  margin: 16px 0;
}
.salt-whatwefightfor {
  float: right;
  width: 300px;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 48, 113);
  padding: 10px 20px;
  margin: 0 0 10px 16px;
}
.salt-articlecategory a {
  text-decoration: none;
  color: inherit;
}
.salt-whatwefightfor h3 {
  font-weight: 700;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  padding-top: 4px;
}
.salt-whatwefightfor p {
  padding-left: 10px;
  border-left: 1px solid rgb(249, 249, 228);
}

.salt-articlebody img {
  width: 100%;
}

.salt-homeblock {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
  padding: 20px;
  text-align: center;
}
.salt-homeblock h2 {
  margin: 0px;
  border-bottom: 1px solid rgb(249, 249, 228);
  text-align: left;
}
.salt-upcomingevents ul {
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.salt-event {
  list-style-type: none;
  height: 120px;
  overflow: hidden;
  margin: 20px 0px;
}
.salt-event a {
  text-decoration: none;
  color: inherit;
}
.salt-event h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  padding-bottom: 8px;
}
.salt-event p {
  margin: 0px;
  padding: 0px;
  font-weight: 1;
}
.salt-event img {
  height: 100%;
  width: 360px;
  float: right;
  object-fit: cover;
}
.salt-eventdate {
  color: rgb(231, 61, 30);
  padding-bottom: 7px;
}
.salt-moreevents {
  text-decoration: none;
  padding: 10px;
  color: rgb(231, 61, 30);
  font-weight: 700;
  font-size: 24px;
}
.salt-international {
  background: rgb(246, 219, 196);
  background: linear-gradient(
    144deg,
    rgba(246, 219, 196, 1) 0%,
    rgba(12, 8, 36, 1) 100%
  );
}
.salt-international h2 {
  text-align: right;
}

.salt-international .wp-block-image {
  padding-bottom: 40px;
}

.salt-newsblock {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
  margin: 0px;
  padding: 10px;
  min-height: calc(100vh - 300px);
  list-style-type: none;
}
/* End post */

/* News page */

.salt-newsitem a {
  text-decoration: none;
  color: inherit;
}
.salt-newsitem {
  background-color: rgb(12, 8, 36);
  color: rgb(249, 249, 228);
  padding: 10px;
  margin: 0px;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
}
.salt-newsitem h3 {
  margin: 0px;
  padding: 0px;
}
.salt-error {
  margin-top: 0px;
}
.salt-newsitem img {
  width: 250px;
  float: left;
  padding-right: 10px;
  height: 150px;
  object-fit: cover;
}
.salt-newsitem:nth-child(even) img {
  float: right;
  padding-right: 0px;
  padding-left: 10px;
}
.salt-newsitem .salt-articledetails {
  font-weight: 1;
}
.salt-newsitem .salt-author {
  font-weight: 700;
}

/* End news page */

/* Other */

.salt-fullwidth .salt-maincontent {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: rgb(12, 8, 36);
}
.salt-fullwidth .salt-sidebar {
  display: none;
}
@media only screen and (max-width: 600px) {
  .salt-maincontent {
    width: 100% !important;
    box-sizing: border-box !important;
  }
  .salt-sidebar {
    display: none;
  }
}
